<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Piast.Net<br></div>
                <div class="intro-lead-in">Where code</div>
                <div class="intro-lead-in">meets Community</div>
                <a href="#member" class="page-scroll btn btn-xl">Poznaj nas!</a>
            </div>
        </div>
    </header>

    {% include data/members.html %}
    {% include data/about.html %}
    {% include data/contact.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>